node_modules
pnpm-lock.yaml

# next.js
.next
out
next-env.d.ts

# generated
.prettierrc

# typescript
.tscache

# production
dist
cache

# local env files
.env
config/.env.production
config/.env.staging
env.d.ts

# vercel
.vercel

# sitemap
public/sitemap*.xml
public/site.webmanifest
public/manifest.json
public/service-worker.js*
public/workbox-*.js*
public/robots.txt

# pnpm
.pnpm-store
