
---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="home">
        <h1 class="glitch" data-text="Kishore Selvaraj">Kishore Selvaraj</h1>
        <p>Good evening! Thank you for visiting!</p>
        <p>I'm Kishore Selvaraj, a software engineer based in Bangalore. I build software for both fun and a living, with a passion for open-source, infrastructure, and web development.</p>
        <p>My coding journey began in 2021 with a React weather app, which I later rebuilt using Django. A DevOps internship expanded my skillset to include Docker, Terraform, Linux, Git, and Kubernetes, enabling me to build and deploy web applications. This experience ignited my passion for open-source, and I've been an active contributor ever since. <a href="#">here</a></p>
        <p>While Python and Bash are my primary languages, I'm a versatile engineer comfortable with adapting to new technologies. I'm passionate about creating web applications, CLI tools, and automating deployment and infrastructure. You can find a full list of my projects <a href="/projects">here</a>.</p>
        <p>Outside of programming, I enjoy reading insightful articles, working out, going for bike rides, and playing video games with friends.</p>
    </section>
</Layout>
