
---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="projects">
        <h1 class="glitch" data-text="Terraform">Terraform</h1>
        <div class="project-item">
            <p class="terminal-prompt">$</p>
            <div class="project-info">
                <h2>Terraform</h2>
                <p>This is my personal project<br>about IAC with terraform on AWS<br>And GCP.</p>
            </div>
        </div>
    </section>
</Layout>
